
.aws/
.aws*
.azure
.bash_custom
.bash_history
.bash_precustom
.cache/
.config/
.docker/
.eclipse/
.fonts/
.gitconfig
.lesshst
.local/
.npm/
.nvm/
.onelogin*
.psql_history
.python_history
.rediscli_history
.ssh/
.sudo_as_admin_successful
.vscode/
.vscode-server/
.wget-hsts
.zsh_history
bash_bak/
projects/

# Mac files & directories
.CFUserTextEncoding
.DS_Store
Aliases/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/


